.sidebar{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 100vh;
    justify-content: space-between;
    background-color: #121212;
    overflow: scroll;
    scroll-behavior: smooth;
    .personInfo{
        padding: 10px;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .pack1{
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }
    .sidenav{
        padding: 10px;
        display: flex;
        flex-direction: column;
        .menuButton{
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: larger;
            color: white;
            border: none;
            border-radius: 10px;
            padding: 10px;
            background-color: #121212;
            margin: 10px;
        }
        .menuButton:active{
            background-color: #000;
        }
    }
}

.logo{
    display:flex;
    flex-direction:row;
    background-color:#000;
    bottom:0px;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 5px;
    align-items: center;
}

#appLogo {
    color: white;
    font-size: larger;
    background-color: purple;
    width: fit-content;
    height: fit-content;
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
}